/* DROPDOWN MENU */

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    height: 0;
    top: 60px;
    width: 300px;
    background: rgba(17, 17, 17, 0.184);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 275px;
    
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.fa-solid{
    position: fixed;
}
/* RESPONSIVE DESIGN */

@media (max-width: 992px) {

    .navbar .links,
    .action_btn {
        display: none;  
    }

    .navbar .toggle-btn {
        display: block;
    }

    .navbar_menu {
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
    
    .titulo{
        font-size: 40px;
    }
    
    .contenedor-servicio img{
        width: 80%;
        margin-bottom: 40px;
    }
    
    .checlist-servicio{
        width: 80%;
    }
    
    .servicie{
        margin-bottom: 30px;
    }
    
    .agregar-imagen{
        width: 80%;
    }
    
    .img-galeria{
        width: 45%;
    }
    
    .cont-expert{
        width: 80%;
    }
}

@media (max-width: 576px) {
    .dropdown_menu{
        left: 2rem;
        width: unset;
        position: fixed;
    }

    .footer-content{
        justify-content: center;
    }
    
    .social-media{
        width: 90%;
        justify-content: space-evenly;
    }
    
    .social-media i{
        margin-left: 0;
    }

    .contenedor-servicio img{
        width: 95%;
        margin-bottom: 40px;
    }
    
    .checlist-servicio{
        width: 95%;
    }
    
    .contact-us{
        text-align: center;
        width: 90%;
        margin-bottom: 40px;
    }

    .agregar-imagen{
        width: 95%;
    }
    
    .img-galeria{
        width: 95%;
    }
}

/*CONTENEDORES*/

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}
